* {
	box-sizing: border-box;
	margin: 0;
}

body {
	color: #293264;
	font-family: "Karla", sans-serif;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #f5f7fb;
	display: flex;
	justify-content: center;
	align-items: center;
}

.startPage--container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.startPage--title {
	font-size: 60px;
	margin-bottom: 5px;
	letter-spacing: 0.1em;
}

.startPage--description {
	font-style: italic;
	font-size: 20px;
	margin-bottom: 2em;
}

.start-button {
	font-family: "Karla", sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding: 1em 3em;
	color: burlywood;
	border-radius: 10px;
	border: 1px solid rgb(208, 208, 208);
	cursor: pointer;
	box-shadow: rgb(38, 57, 77) 0px 0px 30px -10px;
	transition: 0.5s;
}

.start-button:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border: 1px solid rgb(163, 163, 163);
}

.container {
	box-shadow: rgb(38, 57, 77) 0px 0px 10px -1px;
	width: 600px;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	background-color: antiquewhite;
	border-radius: 20px;
}

.question--container {
	margin-bottom: 0.5em;
}

.question--question {
	margin: 10px 20px 20px;
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
	text-align: center;
	width: 600px - 2em;
}

.hr {
	background-color: #ebebeb;
	height: 10px;
	width: 100%;
	margin: 5px 0;
	box-shadow: 0px 0px 2px 2px #c0c0c0 inset;
	border-radius: 10px;
}

.question---answers {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 5px;
}

.answer--button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	box-shadow: rgb(38, 57, 77) 0px 0px 10px -1px;
	transition: 1s;
	padding: 0.5em 1em;
	background-color: #293264;
	color: wheat;
	text-align: center;
	border-radius: 6px;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.answer--button:hover {
	color: #293264;
	background-color: rgb(176, 210, 176);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.check--answers {
	font-family: "Karla", sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding: 0.5em 1em;
	color: #293264;
	border-radius: 10px;
	border: 1px solid rgb(208, 208, 208);
	cursor: pointer;
	box-shadow: rgb(38, 57, 77) 0px 0px 30px -10px;
	transition: 0.5s;
	margin: 20px 0;
}

.check--answers:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border: 1px solid rgb(163, 163, 163);
}

.play--again {
	font-family: "Karla", sans-serif;
	font-weight: 700;
	font-size: 20px;
	padding: 0.5em 1em;
	color: #293264;
	border-radius: 10px;
	border: 1px solid rgb(208, 208, 208);
	cursor: pointer;
	box-shadow: rgb(38, 57, 77) 0px 0px 30px -10px;
	transition: 0.5s;
	margin: 20px 0 20px 20px;
}

.play--again:hover {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border: 1px solid rgb(163, 163, 163);
}

.container--button--elements {
	text-align: center;
}

.score {
	font-size: 20px;
}

.successless {
	color: red;
}

.successful {
	color: green;
}

.questions--total {
	color: green;
}
